/* override default */
body {
  margin: 0;
  font-weight: bold;
  color: rgb(80, 150, 144);
  text-align: center;

  font-size: 1.45rem;
}

/* loading */
.loading, .prompt {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100vw;
  height: 70vw;
  
  transition: opacity 1s linear, z-index 1s linear;

  background-color: rgba(255, 255, 255, 0.8);

  margin: 0 auto;
}

.prompt-wait, .prompt-play {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  opacity: 0;
  transition: opacity 1s linear;

  box-sizing: border-box;

  width: 100vw;
  padding: 50px;

  font-size: 1rem;
  color: black;
}

.prompt-play {
  padding: 20px;
}

.prompt-button {
  color: black;
  border: 3px solid rgb(88, 226, 222);
  background: none;
  font-size: 1.1rem;
  font-weight: bold;
  font-family: inherit;
  padding: 10px;
}

/* wrapper */
.wrapper {
  height: 100vh;
  background-image: url('../img/birthday.jpg');
  background-size: cover;
  background-position: left;

  opacity: 0;
  transition: opacity 1s linear;

}

.block {
  opacity: 0;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  height: 70vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  
  padding: 30px;
  box-sizing: border-box;
  transition: opacity 1s linear;

  background-color: rgba(255, 255, 255, 0.8);
}

.turquoise {
  background-color: rgba(88, 226, 222, 0.6);
  color: white;
}

.fade-in {
  opacity: 1;
  z-index: 1;
}

.fade-out {
  opacity: 0;
  z-index: 0;
}

.lyrics__pipe {
  color: black;
}
