/* override default */
body {
  margin: 0;
  font-weight: bold;
  color: rgb(88, 226, 222);

  font-size: 1.45rem;
}

/* loading */
.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* wrapper */
.wrapper {
  opacity: 0;
}

.wrapper:before{
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url('../img/bg_icon.jpg');
  background-repeat: repeat;
  background-size: 60px 60px;
  background-position: center;
}
.wrapper--pre-click {
  height: 100vh;
}
.wrapper--post-click {
  height: calc(14*100vh);
}

/* box */
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  width: 100vw;
  height: 550px;

  position: fixed;
  top: 50%;
  transform: translateY(-50%);

  background-color: rgba(255,255,255,0.85);

  box-sizing: border-box;

  opacity: 0;
  transition: opacity 0.5s linear;
}

.box__content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  height: 550px;
}

/* prompt */
.box--prompt {
  opacity: 1;
}
.box--prompt-button {
  z-index: 1;
}
.box--prompt-scroll {
  opacity: 0;
}

.prompt-button {
  color: rgb(88, 226, 222);
  border: 1px solid rgb(88, 226, 222);
  cursor: crosshair;
  background: none;
  font-size: 1.1rem;
  padding: 10px;
}

.fadeOut {
  transition: opacity 0.5s linear, visibility 0.5s linear;
  opacity: 0;
  visibility: hidden;
}
.fadeIn {
  transition: opacity 0.5s linear, visibility 0.5s linear;
  opacity: 1;
  visibility: visible;
}

/* content-specific */
.box--closing {
  font-size: 1rem;
}
.content__video {
  width: 300px;
}

.content__text {
  padding: 1px 10px;
}
.content__text--kanji {
  font-size: 1.2rem;
  border-right: 2px solid rgb(88, 226, 222);
}
