/* override default */
body {
  margin: 0;
  font-weight: bold;
}

/* wrapper */
.wrapper:before{
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url('../img/bg_icon.jpg');
  background-repeat: repeat;
  background-size: 75px 75px;
  background-position: center;
}
.wrapper--pre-click {
  height: 100vh;
}
.wrapper--post-click {
  height: calc(14*100vh);
}

/* box */
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  width: 100vw;
  height: 500px;

  position: fixed;
  top: 50%;
  transform: translateY(-50%);

  background-color: rgba(255,255,255,0.75);

  box-sizing: border-box;

  opacity: 0;
  transition: opacity 0.5s linear;

  font-size: 1.1rem;
}

.box__content {
  color: rgb(88, 226, 222);

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  height: 500px;
}

/* prompt */
.box--prompt {
  opacity: 1;
}
.box--prompt-button {
  z-index: 1;
}
.prompt-button {
  color: blue;
  border: 1px solid rgb(88, 226, 222);
  cursor: crosshair;
}

.prompt--fadeOut {
  transition: opacity 0.5s linear, visibility 0.5s linear;
  opacity: 0;
  visibility: hidden;
}
.prompt--fadeIn {
  transition: opacity 0.5s linear, visibility 0.5s linear;
  opacity: 1;
}

/* content-specific */
.box--closing {
  font-size: 1rem;
}
.content__video {
  width: 300px;
}
.content__kanji {
  font-size: 1rem;
}
